.layout {

    display: flex;

    min-height: calc(100vh - 120px);
}

.sidebar {

    width: 240px;

    background: #1e293b;

    padding: 20px;

    display: flex;

    flex-direction: column;

    gap: 10px;

    box-shadow:
        2px 0 10px rgba(0,0,0,0.1);
}

.sidebar button {

    background: transparent;

    border: none;

    color: white;

    text-align: left;

    padding: 14px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 1rem;

    transition: 0.3s;
}

.sidebar button:hover {

    background: rgba(255,255,255,0.1);
}

.sidebar .ativo {

    background: #2563eb;

    font-weight: bold;
}

.conteudo {

    flex: 1;

    padding: 25px;

    background: #f5f7fa;
}