.logo-area {
    display:flex;
    align-items: center;
}

.logo-rithmo {

    height: 250px;

    width: auto;

    object-fit: contain;

    filter: drop-shadow(
        0 2px 4px rgba(0,0,0,0.15)
    );
}

.topo-data {
    margin-top: 40px;

    text-align:center;

    font-size: 2.5rem;

    padding: 10px;
    
    margin-bottom: 25px;
}
.topo-conteudo{
    display:flex;
    align-items: center;
}